@import-normalize; /* bring in normalize.css styles */

:root {
  --main-background-color: #ffffff;
  --secondary-background-color: rgba(0, 0, 0, 0.561);
  --input-background-color: rgba(0, 0, 0, 0);
  --main-text-color: #000000;
  --text-color-white: #ffffff;
  --text-color-error: #ff001b;
  --accent-color: #ff6b08;
  --bgc-btn-pagination: #f7f7f7;
  --close-color: #123;
  --grey: #8c8c8c;
  --footer-text: #545454;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: 500;
  background-color: var(--main-background-color);
  color: var(--main-text-color);
  position: relative;
  margin: 0;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  height: 100%;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

*,
*::after,
*::before {
  box-sizing: inherit;
}

/* Класс для обнуления базовых свойств у списков (ul) */
ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

/* Стили для обнуления верхних отступов у элементов */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

/* Класс для обнуления базовых свойств у ссылок */
a {
  text-decoration: none;
  color: inherit;
}

/* Свойства для корректного отображения картинок */
img {
  display: block;
  width: 100%;
  height: auto;
}

/* Свойства для обнуления курсива у address */
address {
  font-style: normal;
}
